* {
    color: white;
    font-weight: 700;
    transition: 200ms;
}

a {
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.menu {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.cont {
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.buttonsCont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whiteButton {
    width: auto;
    border-radius: 30px;
    background-color: white;
    margin: 0 10px;
    padding: 15px 30px;
    color: black;
    font-size: 100%;
}

.textButton {
    margin: 0 10px;
    color: white;
    opacity: 70%;
    font-size: 100%;
}

.whiteButton:hover {
    opacity: 90%;
    font-size: 105%;
}

.textButton:hover {
    opacity: 100%;
    font-size: 105%;
}

.spotify {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 0 10px;
}

.spotify img {
    width: auto;
    height: 100%;
    margin: 0 10px 0 0;
}

.spotify p {
    font-size: 10px;
}

.mainBar {
    font-size: 90%;
    opacity: 80%;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.mainBar:hover {
    opacity: 100%;
}

.mainCont {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}