.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.contain {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    height: fit-content;
    padding: 1% 2%;
    border-radius: 30px;
}

.input {
    border-radius: 30px;
    background-color: white;
    border: none;
    width: 80%;
    height: 30px;
    padding: 0 3%;
    color: black;
    outline: none;
    margin: 10px 0;
}

.button {
    padding: 10px 20px;
    margin: 5% 0 0 0;
    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 30px;
}

.button:hover {
    opacity: 90%;
    font-size: 105%;
    cursor: pointer;
}

.spotify {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 0 10px;
}

.spotify img {
    width: auto;
    height: 100%;
    margin: 0 10px 0 0;
}

.spotify p {
    font-size: 10px;
}

.alert {
    color: red;
    font-weight: 400;
    margin: 3px 0 0;
}

.title {
    align-self: center;
    margin: 5% 0 10%;
}